<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Actualizar Estados - INGENIA</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/pedidos/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../../static/pedidos/css/stylish-portfolio.css" rel="stylesheet">
    <link href="../../static/pedidos/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
	
	
	<div class="row clearfix">
    	
		<div class="col-md-12 column">
        
			<dl>
            {% if lista_estado1 %}
				<dt>
					<h4>Revisión</h4>
				</dt>
				<dd>
					<td>
					{% if lista_estado1 %}
		      
					  {% for npe in lista_estado1 %}

						<td>
						      Estado: {{ npe.estado }}
						      Num_Pedido: {{ npe.num_pedido }}
						      Usuario: {{ npe.usuario }}
						      Concepto: {{ npe.concepto }}
						      Recepcion:{{ npe.forma_de_recepcion }}
						</td>
				
					{% endfor %}

					{% else %}

					  <td><p>No existen pedidos en el estado 1.</p></td>					
					  
					{% endif %}
					</tr>
				</dd>
                {% endif %}
                {% if lista_estado2 %}
				<dt>
					<h4>Pendiente de Entrada de Producción</h4>
				</dt>
				<dd>
					<td>
					{% if lista_estado2 %}
		      
					  {% for npe in lista_estado2 %}

						<td>
						      Estado: {{ npe.estado }}
						      Num_Pedido: {{ npe.num_pedido }}
						      Usuario: {{ npe.usuario }}
						      Concepto: {{ npe.concepto }}
						      Recepcion:{{ npe.forma_de_recepcion }}
						</td>
						<br>
				
					{% endfor %}

					{% else %}

					  <td><p>No existen pedidos en el estado 2.</p></td>
					  
					{% endif %}
					</tr>
				</dd>
                {% endif %}{% if lista_estado3 %}
				<dt>
					<h4>Producción</h4>
				</dt>
				<dd>
					<td>
					{% if lista_estado3 %}
		      
					  {% for npe in lista_estado3 %}

						<td>
						      Estado: {{ npe.estado }}
						      Num_Pedido: {{ npe.num_pedido }}
						      Usuario: {{ npe.usuario }}
						      Concepto: {{ npe.concepto }}
						      Recepcion:{{ npe.forma_de_recepcion }}
						</td>
						<br>
				
					{% endfor %}

					{% else %}

					  <td><p>No existen pedidos en el estado 3.</p></td>
					  
					{% endif %}
					</tr>
				</dd>
                {% endif %}{% if lista_estado4 %}
				<dt>
					<h4>Pendiente Empaquetar</h4>
				</dt>
				<dd>
					<td>
					{% if lista_estado4 %}
		      
					  {% for npe in lista_estado4 %}

						<td>
						      Estado: {{ npe.estado }}
						      Num_Pedido: {{ npe.num_pedido }}
						      Usuario: {{ npe.usuario }}
						      Concepto: {{ npe.concepto }}
						      Recepcion:{{ npe.forma_de_recepcion }}
						</td>
						<br>
				
					{% endfor %}

					{% else %}

					  <td><p>No existen pedidos en el estado 4.</p></td>
					  
					{% endif %}
					</tr>
				</dd>
                {% endif %}{% if lista_estado5 %}
				<dt>
					<h4>Pendiente de Instalación</h4>
				</dt>
				<dd>
					<td>
					{% if lista_estado5 %}
		      
					  {% for npe in lista_estado5 %}

						<td>
						      Estado: {{ npe.estado }}
						      Num_Pedido: {{ npe.num_pedido }}
						      Usuario: {{ npe.usuario }}
						      Concepto: {{ npe.concepto }}
						      Recepcion:{{ npe.forma_de_recepcion }}
						</td>
						<br>
				
					{% endfor %}

					{% else %}

					  <td><p>No existen pedidos en el estado 5.</p></td>
					  
					{% endif %}
					</tr>
				</dd>
				<dt>
					<h4>Instalación Terminada</h4>
				</dt>
                {% endif %}{% if lista_estado6 %}
				<dd>
					<td>
					{% if lista_estado6 %}
		      
					  {% for npe in lista_estado6 %}

						<td>
						      Estado: {{ npe.estado }}
						      Num_Pedido: {{ npe.num_pedido }}
						      Usuario: {{ npe.usuario }}
						      Concepto: {{ npe.concepto }}
						      Recepcion:{{ npe.forma_de_recepcion }}
						</td>
						<br>
				
					{% endfor %}

					{% else %}

					  <td><p>No existen pedidos en el estado 6.</p></td>
					  
					{% endif %}
					</tr>
				</dd>
				<dt>
					<h4>Listo de Recogida</h4>
				</dt>
                {% endif %}{% if lista_estado7 %}
				<dd>
					<td>
					{% if lista_estado7 %}
		      
					  {% for npe in lista_estado7 %}

						<td>
						      Estado: {{ npe.estado }}
						      Num_Pedido: {{ npe.num_pedido }}
						      Usuario: {{ npe.usuario }}
						      Concepto: {{ npe.concepto }}
						      Recepcion:{{ npe.forma_de_recepcion }}
						</td>
						<br>
				
					{% endfor %}

					{% else %}

					  <td><p>No existen pedidos en el estado 7.</p></td>
					  
					{% endif %}
					</tr>
				</dd>
                {% endif %}{% if lista_estado8 %}
				<dt>
					<h4>Listo de Transporte</h4>
				</dt>
				<dd>
					<td>
					{% if lista_estado8 %}
		      
					  {% for npe in lista_estado8 %}

						<td>
						      Estado: {{ npe.estado }}
						      Num_Pedido: {{ npe.num_pedido }}
						      Usuario: {{ npe.usuario }}
						      Concepto: {{ npe.concepto }}
						      Recepcion:{{ npe.forma_de_recepcion }}
						</td>
						<br>
				
					{% endfor %}

					{% else %}

					  <td><p>No existen pedidos en el estado 8.</p></td>
					  
					{% endif %}
					</tr>
				</dd>
                {% endif %}
		</div>
	</div>
<br><br><br><br><br>
	    <form method="post">{% csrf_token %}
	    <div class="call-to-action">
	      <div class="container">
		 <div class="row">
		   <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>Cambiar Estado del Pedido:</h3>
		      <ul>
			  {{ form.as_p }}
		      </ul>
		      <input type="submit" name="submit" value="Cambiar">
		  </div>
	      </div>
	    </div>
	  </div>
	  </form>
      
	<br><br>

            <a href="/ingenia/administrar/" class="btn btn-default btn-lg">Volver atrás</a>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; Ingenia Tracking Team 2014<br><font size="-3">Francisco Valverde, Fernando Llodra, Rafael Carrasco, Juan Moral</font></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>