<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrar Pedidos - INGENIA</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/pedidos/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../../static/pedidos/css/stylish-portfolio.css" rel="stylesheet">
    <link href="../../static/pedidos/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <p class="navbar-text">Conectado como <b>{{usuario}}</b></p>
    <a href="/ingenia/cerrar_sesion/" class="btn btn-default navbar-btn">Cerrar sesion</a>
</head>

<body>

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1>Administración de Pedidos</h1>
            <a href="/ingenia/alta_usuario/" class="btn btn-default btn-lg">Alta de Usuario</a>
            <a href="/ingenia/asignar_pedido/" class="btn btn-default btn-lg">Asignar Pedido a Usuario</a>
            <a href="/ingenia/actualizar_pedido/" class="btn btn-default btn-lg">Actualizar Estado del Pedido</a>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; Ingenia Tracking Team 2014<br><font size="-3">Francisco Valverde, Fernando Llodra, Rafael Carrasco, Juan Moral</font></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
