<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                    <meta name="author" content="">
                        
                        <title>Pedidos cliente</title>
                        
                        <!-- Bootstrap core CSS -->
                        <link href="../../static/pedidos/css/bootstrap.css" rel="stylesheet">
                            
                            <!-- Add custom CSS here -->
                            <link href="../../static/pedidos/css/stylish-portfolio.css" rel="stylesheet">
                                <link href="../../static/pedidos/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    </head>
    
    <body>
        
        <!-- Full Page Image Header Area -->
        <div id="top" class="header">
            <div class="vert-text">
		
                <h1>Ingenia Tracking</h1>
               
			<dl>
				<h2>
					Comprueba los estados de tus pedidos de forma fácil y cómoda.
				</h2>
			</dl>
			<br><br><br><br><br>

			{% if lista_pedidos %}
			<table class="table">
				<thead>
					<tr>
						
						<th>
							<h2>Número de pedido</h2>
						</th>
						<th>
							<h2>Descripción</h2>
						</th>
						<td>
							<h2>Estado</h2>
						</td>
						<td>
							<h2>% Completado</h2>
						</td>
					</tr>
				</thead>
				<tbody>	
				{% for npe in lista_pedidos %}
				
					<tr class="active">
						<th>
						<h4>{{npe.num_pedido}}</h4>
						</th>
						<th>
						<h4>{{npe.concepto}}</h4>
						</th>
						<td>
						<h4>{{npe.estado}}</h4>
						</td>
						<td>	
							{%if npe.estado == "Revision Archivos" %}
							<div class="progress">
 							 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
    								<span class="sr-only">30% Complete</span>						
							</div>
							</div>
							{% endif %}
							{% if npe.estado == "Pendiente Entrada" %}			
							
							<div class="progress">
 							 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
    								<span class="sr-only">30% Complete</span>						
							</div>
							</div>
  							{% endif %}
							{% if npe.estado == "Producción" %}			
							
							<div class="progress">
 							 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    								<span class="sr-only">30% Complete</span>						
							</div>
							</div>
  							{% endif %}
							{% if npe.estado == "Listo Recogida" %}			
							
							<div class="progress">
 							 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    								<span class="sr-only">30% Complete</span>						
							</div>
							</div>
  							{% endif %}
							{% if npe.estado == "Listo Transporte" %}			
							
							<div class="progress">
 							 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
    								<span class="sr-only">30% Complete</span>						
							</div>
							</div>
  							{% endif %}
							{% if npe.estado == "Pendiente Instalación" %}			
							
							<div class="progress">
 							 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
    								<span class="sr-only">30% Complete</span>						
							</div>
							</div>
  							{% endif %}
							{% if npe.estado == "Instalación terminada" %}			
							
							<div class="progress">
 							 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    								<span class="sr-only">30% Complete</span>						
							</div>
							</div>
  							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% else %}
			<p> <h2>No existen pedidos</h2> </p>
		{% endif %}
				</tbody>
			</table>
                
                
                <br><br><br><br><br>
                
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <ul class="list-inline">
                            <li><i class="fa fa-facebook fa-3x"></i>
                            </li>
                            <li><i class="fa fa-twitter fa-3x"></i>
                            </li>
                        </ul>
                        <div class="top-scroll">
                            <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                        </div>
                        <hr>
                        <p>Copyright &copy; Ingenia Tracking Team 2014<br><font size="-3">Francisco Valverde, Fernando Llodra, Rafael Carrasco, Juan Moral</font></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->
        
        <!-- JavaScript -->
        <script src="js/jquery-1.10.2.js"></script>
        <script src="js/bootstrap.js"></script>
        
        <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
        <script>
            $("#menu-close").click(function(e) {
                                   e.preventDefault();
                                   $("#sidebar-wrapper").toggleClass("active");
                                   });
            </script>
        <script>
            $("#menu-toggle").click(function(e) {
                                    e.preventDefault();
                                    $("#sidebar-wrapper").toggleClass("active");
                                    });
            </script>
        <script>
            $(function() {
              $('a[href*=#]:not([href=#])').click(function() {
                                                  if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                                                                                
                                                                                var target = $(this.hash);
                                                                                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                                                                                if (target.length) {
                                                                                $('html,body').animate({
                                                                                                       scrollTop: target.offset().top
                                                                                                       }, 1000);
                                                                                return false;
                                                                                }
                                                                                }
                                                                                });
                                                      });
                                                  </script>
        
    </body>
    
</html>
